In [ ]:
#cloning data from github repository
!git clone https://github.com/PhonePe/pulse.git

In [11]:
import os
import pandas as pd
import json

In [2]:
path1=r"C:/Users/M. TEJASWINI/Desktop/project_2/phonepe/pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list1=os.listdir(path1)
Agg_state_list1

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [4]:
#Extracting aggregated transaction data    #1
path1=r"C:/Users/M. TEJASWINI/Desktop/project_2/phonepe/pulse/data/aggregated/transaction/country/india/state/"
col1={'State':[],'Year':[],'Quarter':[],'Transaction_type':[],'Transaction_count':[],'Transaction_amount':[]}
for i in Agg_state_list1:
    p_i=path1+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
                Name=z['name']
                count=z['paymentInstruments'][0]['count']
                amount=z['paymentInstruments'][0]['amount']
                col1['Transaction_type'].append(Name)
                col1['Transaction_count'].append(count)
                col1['Transaction_amount'].append(amount)
                col1['State'].append(i)
                col1['Year'].append(j)
                col1['Quarter'].append(int(k.strip('.json')))
#creating a dataframe for aggregated transaction data
Agg_Trans=pd.DataFrame(col1)     
# Cleaning State names   
Agg_Trans["State"]=Agg_Trans["State"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')       
Agg_Trans["State"]=Agg_Trans["State"].str.replace("-"," ")
Agg_Trans["State"]=Agg_Trans["State"].str.title()
Agg_Trans["State"]=Agg_Trans["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [5]:
path2=r"C:/Users/M. TEJASWINI/Desktop/project_2/phonepe/pulse/data/aggregated/user/country/india/state/"
Agg_state_list2=os.listdir(path2)
Agg_state_list2

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [6]:
#Extracting aggregated users data    #2
col2={'State':[],'Year':[],'Quarter':[],'Brand':[],'User_count':[],'Percentage':[]}
for i in Agg_state_list2:
    p_i=path2+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            C=json.load(Data)
            try:
                for z in C["data"]['usersByDevice']:
                    Brand=z['brand']
                    count=z['count']
                    percentage=z['percentage']
                    col2['Brand'].append(Brand)
                    col2['User_count'].append(count)
                    col2['Percentage'].append(percentage)
                    col2['State'].append(i)
                    col2['Year'].append(j)
                    col2['Quarter'].append(int(k.strip('.json')))
            except:
                pass
#creating a dataframe for aggregated user data
Agg_User=pd.DataFrame(col2)
# Cleaning State names   
Agg_User["State"]=Agg_User["State"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')       
Agg_User["State"]=Agg_User["State"].str.replace("-"," ")
Agg_User["State"]=Agg_User["State"].str.title()
Agg_User["State"]=Agg_User["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [7]:
path3=r"C:/Users/M. TEJASWINI/Desktop/project_2/phonepe/pulse/data/map/transaction/hover/country/india/state/"
Agg_state_list3=os.listdir(path3)
Agg_state_list3

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [8]:
#Extracting map transactions data   #3
col3={'State':[],'Year':[],'Quarter':[],'District':[],'Transaction_count':[],'Transaction_amount':[]}
for i in Agg_state_list3:
    p_i=path3+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            B=json.load(Data)

            for z in B["data"]['hoverDataList']:
                district=z['name']
                count=z['metric'][0]['count']
                amount=z['metric'][0]['amount']
                col3['District'].append(district)
                col3['Transaction_count'].append(count)
                col3['Transaction_amount'].append(amount)
                col3['State'].append(i)
                col3['Year'].append(j)
                col3['Quarter'].append(int(k.strip('.json')))

#creating a dataframe for map transaction data
map_trans=pd.DataFrame(col3)  
# Cleaning State names 
map_trans["State"]=map_trans["State"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')       
map_trans["State"]=map_trans["State"].str.replace("-"," ")
map_trans["State"]=map_trans["State"].str.title()
map_trans["State"]=map_trans["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [9]:
path4=r"C:/Users/M. TEJASWINI/Desktop/project_2/phonepe/pulse/data/map/user/hover/country/india/state/"
Agg_state_list4=os.listdir(path4)
Agg_state_list4

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [10]:
#Extracting map user data
col4={'State':[],'Year':[],'Quarter':[],'District':[],'RegisteredUsers':[],'AppOpens':[]}
for i in Agg_state_list4:
    p_i=path4+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            A=json.load(Data)

            for z in A["data"]['hoverData'].items():
                district=z[0]
                registeredUsers=z[1]['registeredUsers']
                appOpens=z[1]['appOpens']
                col4['District'].append(district)
                col4['RegisteredUsers'].append(registeredUsers)
                col4['AppOpens'].append(appOpens)
                col4['State'].append(i)
                col4['Year'].append(j)
                col4['Quarter'].append(int(k.strip('.json')))

#creating a dataframe for map user data
map_user=pd.DataFrame(col4)   
# Cleaning State names 
map_user["State"]=map_user["State"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')       
map_user["State"]=map_user["State"].str.replace("-"," ")
map_user["State"]=map_user["State"].str.title()
map_user["State"]=map_user["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [11]:
path5=r"C:/Users/M. TEJASWINI/Desktop/project_2/phonepe/pulse/data/top/transaction/country/india/state/"
top_state_list5=os.listdir(path5)
top_state_list5

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [12]:
#Extracting top transaction data
col5={'State':[],'Year':[],'Quarter':[],'Pincode':[],'Count':[],'Amount':[]}
for i in top_state_list5:
    p_i=path5+i+"/"
    top_yr=os.listdir(p_i)
    for j in top_yr:
        p_j=p_i+j+"/"
        top_yr_list=os.listdir(p_j)
        for k in top_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            E=json.load(Data)
            for z in E["data"]['pincodes']:
                pincode=z['entityName']
                count=z['metric']['count']
                amount=z['metric']['amount']
                col5['Pincode'].append(pincode)
                col5['Count'].append(count)
                col5['Amount'].append(amount)
                col5['State'].append(i)
                col5['Year'].append(j)
                col5['Quarter'].append(int(k.strip('.json')))

#creating a dataframe for top transaction data
top_trans=pd.DataFrame(col5)   
# Cleaning State names 
top_trans["State"]=top_trans["State"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')       
top_trans["State"]=top_trans["State"].str.replace("-"," ")
top_trans["State"]=top_trans["State"].str.title()
top_trans["State"]=top_trans["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [12]:
path6=r"C:/Users/M. TEJASWINI/Desktop/project_2/phonepe/pulse/data/top/user/country/india/state/"
top_state_list6=os.listdir(path6)
top_state_list6

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [13]:
#Extracting top user data
col6={'State':[],'Year':[],'Quarter':[],'Pincode':[],'RegisteredUsers':[]}
for i in top_state_list6:
    p_i=path6+i+"/"
    top_yr=os.listdir(p_i)
    for j in top_yr:
        p_j=p_i+j+"/"
        top_yr_list=os.listdir(p_j)
        for k in top_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            F=json.load(Data)
            for z in F["data"]['pincodes']:
                pincode=z['name']
                registeredUsers=z['registeredUsers']
                col6['Pincode'].append(pincode)
                col6['RegisteredUsers'].append(registeredUsers)
                col6['State'].append(i)
                col6['Year'].append(j)
                col6['Quarter'].append(int(k.strip('.json')))

#creating a dataframe for top user data
top_user=pd.DataFrame(col6)   
# Cleaning State names 
top_user["State"]=top_user["State"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')       
top_user["State"]=top_user["State"].str.replace("-"," ")
top_user["State"]=top_user["State"].str.title()
top_user["State"]=top_user["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [3]:
import mysql.connector

In [4]:
mydb = mysql.connector.connect(
    host="localhost",
    user = "root",
    password = "root"
)
cursor = mydb.cursor()

In [6]:
cursor.execute('CREATE DATABASE IF NOT EXISTS Phonepe')
cursor.execute('USE Phonepe')

In [18]:
#creating and inserting into Agrregated transaction table
cursor.execute("""CREATE TABLE IF NOT EXISTS Aggregated_transaction (
                                                    State VARCHAR(50),
                                                    Year INT,
                                                    Quarter INT,
                                                    Transaction_type VARCHAR(100),
                                                    Transaction_count BIGINT,
                                                    Transaction_amount BIGINT,
                                                UNIQUE KEY unique_entry (State, Year, Quarter, Transaction_type) )""")

for index, row in Agg_Trans.iterrows():
        query = """
        INSERT INTO Aggregated_transaction (State, Year, Quarter, Transaction_type, Transaction_count, Transaction_amount)
        VALUES (%s, %s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
                Transaction_count = VALUES(Transaction_count),
                Transaction_amount = VALUES(Transaction_amount)"""
        cursor.execute(query, (
            row['State'], row['Year'], row['Quarter'],row['Transaction_type'], row['Transaction_count'], row['Transaction_amount']
        ))
        mydb.commit()

In [19]:
#creating and inserting into Agrregated user table
cursor.execute("""CREATE TABLE IF NOT EXISTS Aggregated_user(
                                                                State varchar(50),
                                                                Year int,
                                                                Quarter int,
                                                                Brand varchar(100),
                                                                User_count bigint,
                                                                Percentage float,
                                                                UNIQUE KEY unique_entry (State, Year, Quarter, Brand))""")
for index,row in Agg_User.iterrows():
        query = """INSERT INTO Aggregated_user(State,Year,Quarter,Brand,User_count,Percentage)
                VALUES(%s,%s,%s,%s,%s,%s)
                ON DUPLICATE KEY UPDATE
                User_count = VALUES(User_count),
                Percentage = VALUES(Percentage)"""
        cursor.execute(query,(row['State'],row['Year'],row['Quarter'],row['Brand'],row['User_count'],row['Percentage']))
        mydb.commit()

In [20]:
#creating and inserting into map transaction table
cursor.execute("""CREATE TABLE IF NOT EXISTS Map_transaction(
                                                            State varchar(50),
                                                            Year int,
                                                            Quarter int,
                                                            District varchar(100),
                                                            Transaction_count bigint,
                                                            Transaction_amount bigint,
                UNIQUE KEY unique_entry (State, Year, Quarter, District))""")
for index,row in map_trans.iterrows():
        query = """INSERT INTO Map_transaction(State,Year,Quarter,District,Transaction_count,Transaction_amount)
                VALUES(%s,%s,%s,%s,%s,%s)
            ON DUPLICATE KEY UPDATE
                Transaction_count = VALUES(Transaction_count),
                Transaction_amount = VALUES(Transaction_amount)"""
        cursor.execute(query,(row['State'],row['Year'],row['Quarter'],row['District'],row['Transaction_count'],row['Transaction_amount']))
        mydb.commit()

In [21]:
#creating and inserting into map user table
cursor.execute("""CREATE TABLE IF NOT EXISTS Map_user(
                                                    State varchar(50),
                                                    Year int,
                                                    Quarter int,
                                                    District varchar(100),
                                                    Registered_Users bigint,
                                                    AppOpens bigint,
            UNIQUE KEY unique_entry (State, Year, Quarter, District)
            )""")
for index,row in map_user.iterrows():
        query = """INSERT INTO Map_user(State,Year,Quarter,District,Registered_Users,AppOpens)
                VALUES(%s,%s,%s,%s,%s,%s)
                ON DUPLICATE KEY UPDATE
                Registered_Users = VALUES(Registered_Users),
                AppOpens = VALUES(AppOpens)"""
        cursor.execute(query,(row['State'],row['Year'],row['Quarter'],row['District'],row['RegisteredUsers'],row['AppOpens']))
        mydb.commit()

In [22]:
#creating and inserting into top transaction table
cursor.execute("""CREATE TABLE IF NOT EXISTS top_transaction(
                                                            State varchar(50),
                                                            Year int,
                                                            Quarter int,
                                                            Pincode int,
                                                            Transaction_count bigint,
                                                            Transaction_amount bigint,
                UNIQUE KEY unique_entry (State, Year, Quarter, Pincode))""")
for index,row in top_trans.iterrows():
    query = """INSERT INTO top_transaction(State,Year,Quarter,Pincode,Transaction_count,Transaction_amount)
            VALUES(%s,%s,%s,%s,%s,%s)
            ON DUPLICATE KEY UPDATE
                Transaction_count = VALUES(Transaction_count),
                Transaction_amount = VALUES(Transaction_amount)"""
    cursor.execute(query,(row['State'],row['Year'],row['Quarter'],row['Pincode'],row['Count'],row['Amount']))
    mydb.commit()

In [14]:
#creating and inserting into top user table
cursor.execute("""CREATE TABLE IF NOT EXISTS Top_user(
                                                            State varchar(50),
                                                            Year int,
                                                            Quarter int,
                                                            Pincode int,
                                                            Registered_Users bigint,
                                                            UNIQUE KEY unique_entry (State, Year, Quarter, Pincode))""")
for index,row in top_user.iterrows():
    query = """INSERT INTO Top_user(State,Year,Quarter,Pincode,Registered_Users)
            VALUES(%s,%s,%s,%s,%s)
            ON DUPLICATE KEY UPDATE
                Registered_Users = VALUES(Registered_Users)"""
    cursor.execute(query,(row['State'],row['Year'],row['Quarter'],row['Pincode'],row['RegisteredUsers']))
    mydb.commit()